<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{descriptionValue}}'s page</title>
</head>

<body>
    <div style="background: black; color: white; margin-bottom: 15px; padding: 8px;">
        {{file}}
    <a href="/logout" style="margin-bottom: 15px; padding: 8px;">log out</a>
</body>
</html>