<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Кафедра</title>
</head>
<body>

<h1>Кафедра</h1>

Факультет: {{faculty}}
<br>
<br>
Кафедра: {{department}}
<br>
<br>
Номер: {{index}}
<br>
<br>
    
</body>
</html>